/**
 * _module.scss
 */

/**
 * components: m-switch
 */
.m-switch-label {
  width: 200px;
  height: 60px;
  background: #0041A2;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius: 30px;
  display: block;
  top: 50px;
  left: 50px;
  position: absolute;
  z-index: 1;
  transition: all 300ms ease-in 0s;
}
#m-switch {
  top: 60px;
  position: absolute;
  left: 100px;
}
#m-switch:before {
  content: "";
  position: absolute;
  top: -23px;
  left: -75px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: block;
  background: #0041A2;
  border: none;
  z-index: 2;
  box-shadow: inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition: box-shadow 500ms ease-in 0s, left 300ms ease-in 0s;
}
#m-switch:checked:before {
  left: 90px;
  box-shadow: inset 0 0 0 0 #0041A2,0 0 5px 0 #000;
}
#m-switch:checked + label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}


/**
 *
 */
.fa {
  position: absolute;
  display: inline-block;
  font: normal normal normal 14px/1 fontawesome-webfont;
  font-style: normal;
  font-size: 1.5em;
  color: #0041A2;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.fa-clipboard {top: 20px;left: 20px;}
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-save:before {
  content: "\f0c7";
}
.fa-share {top: 10px;left: 14px;}
.fa-share:before {
  content: "\f064";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-close {top: 10px;left: 14px;}
.fa-close:before {
  content: "\f00d";
}
